.App {
  text-align: center;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  background-color: #f0f0f0;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

h4 {
  color: #777;
  margin-bottom: 20px;
}

p {
  color: #555;
  font-size: 16px;
}
